<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Fill Profile</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aeonik%3A500"/>
  <link rel="stylesheet" href="./assets/styles/fill-profile.css"/>
</head>
<body>
<div class="fill-profile-NnX">
  <div class="frame-7-irP">
    <div class="frame-11-qAK">
      <p class="allearn-nbM">ALLearn</p>
      <div class="frame-24-iV1">
        <div class="frame-22-gAw">
          <div class="frame-21-cqH">1</div>
          <p class="select-user-type-i7d">Select user type</p>
          <img class="gg-check-o-eGB" src="./assets/gg-check-o.png"/>
        </div>
        <div class="auto-group-yufd-n7V">
          <div class="frame-23-vDh">
            <div class="frame-21-fSB">2</div>
            <p class="input-bio-xgB">Input bio</p>
          </div>
          <div class="frame-24-h7y">
            <div class="frame-21-dXR">3</div>
            <p class="input-institution-Xsh">Input institution</p>
          </div>
          <div class="frame-25-fj1">
            <div class="frame-21-c8T">4</div>
            <p class="select-proficiency-WUj">Select proficiency</p>
          </div>
        </div>
      </div>
    </div>
    <div class="m001t0323j18sep22-1-FBR">
    </div>
    <p class="a-e-learning-platform-for-all-A3V">An E-learning platform for all...</p>
  </div>
  <div class="frame-6-eDZ">
    <div class="frame-18-kGb">
      <div class="frame-11-Fz3">
        <p class="englishusa-oEs">English(USA)</p>
        <img class="icon-park-solid-down-one-vaP" src="./assets/icon-park-solid-down-one-rJf.png"/>
      </div>
      <img class="vector-1-S2w" src="REPLACE_IMAGE:76:2389"/>
      <div class="frame-17-aQ3">
        <p class="read-aloud-WoV">Read aloud</p>
        <img class="fluent-speaker-1-32-filled-EzP" src="./assets/fluent-speaker-1-32-filled-ziF.png"/>
      </div>
    </div>
    <div class="frame-20-kxj">
      <p class="input-bio-h7H">Input bio</p>
      <p class="tell-us-a-little-details-about-yourself-2QT">Tell us a little details about yourself</p>
    </div>
    <div class="frame-44-kbM">
      <div class="frame-3-6fD">
        <p class="your-name-fTR">Your name</p>
        <div class="frame-35-zkb">
          <div class="frame-2-LZZ">
            <p class="title-tLB">Title</p>
            <img class="mingcute-down-fill-RL7" src="./assets/mingcute-down-fill-kRZ.png"/>
          </div>
          <div class="frame-4-jrb">First name</div>
          <div class="frame-3-EHZ">Last name</div>
        </div>
      </div>
      <div class="frame-36-8tj">
        <p class="your-birthday-td1">Your birthday</p>
        <div class="frame-32-qHM">
          <div class="frame-2-B6K">
            <p class="date-LE7">Date</p>
            <img class="mingcute-down-fill-ry9" src="./assets/mingcute-down-fill-5pf.png"/>
          </div>
          <div class="frame-4-CGK">
            <p class="month-Z6s">Month</p>
            <img class="mingcute-down-fill-VmD" src="./assets/mingcute-down-fill-4vo.png"/>
          </div>
          <div class="frame-5-SAf">
            <p class="year-myd">Year</p>
            <img class="mingcute-down-fill-JyZ" src="./assets/mingcute-down-fill.png"/>
          </div>
        </div>
      </div>
      <div class="frame-37-EMR">
        <p class="your-phone-number-zLb">Your phone number</p>
        <div class="frame-32-vEF">
          <div class="frame-2-UWf">
            <div class="frame-39-pqR">
              <img class="emojione-v1-flag-for-nigeria-nXM" src="./assets/emojione-v1-flag-for-nigeria.png"/>
              <p class="item-234-iR1">+234</p>
            </div>
            <img class="mingcute-down-fill-Sro" src="./assets/mingcute-down-fill-b9d.png"/>
          </div>
          <div class="frame-5-PGF">000 000 000</div>
        </div>
      </div>
    </div>
    <div class="frame-13-gm9">
      <p class="next-Dm5">Next</p>
      <img class="ic-round-arrow-forward-xif" src="./assets/ic-round-arrow-forward-UxT.png"/>
    </div>
  </div>
</div>
</body>