<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Fill Profile</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aeonik%3A500"/>
  <link rel="stylesheet" href="./styles/fill-profile-fSs.css"/>
</head>
<body>
<div class="fill-profile-ynj">
  <div class="frame-7-vhy">
    <div class="frame-11-RPq">
      <p class="allearn-zC3">ALLearn</p>
      <div class="frame-24-uZu">
        <div class="frame-22-foy">
          <div class="frame-21-DKh">1</div>
          <p class="select-user-type-hVm">Select user type</p>
          <img class="gg-check-o-Dyu" src="./assets/gg-check-o-kzf.png"/>
        </div>
        <div class="auto-group-ux6k-xwV">
          <div class="frame-23-JEf">
            <div class="frame-21-Eu1">2</div>
            <p class="input-bio-8Dh">Input bio</p>
          </div>
          <div class="frame-24-FJK">
            <div class="frame-21-abV">3</div>
            <p class="input-institution-URy">Input institution</p>
          </div>
          <div class="frame-25-oz3">
            <div class="frame-21-Lyy">4</div>
            <p class="select-proficiency-dy5">Select proficiency</p>
          </div>
        </div>
      </div>
    </div>
    <div class="m001t0323j18sep22-1-Mu5">
    </div>
    <p class="a-e-learning-platform-for-all-54P">A E-learning platform for all...</p>
  </div>
  <div class="frame-6-ZET">
    <div class="frame-18-Tqd">
      <div class="frame-11-aQT">
        <p class="englishusa-WJ7">English(USA)</p>
        <img class="icon-park-solid-down-one-Ezo" src="./assets/icon-park-solid-down-one-xzF.png"/>
      </div>
      <img class="vector-1-xR1" src="REPLACE_IMAGE:76:2918"/>
      <div class="frame-17-Vvj">
        <p class="read-aloud-Sb5">Read aloud</p>
        <img class="fluent-speaker-1-32-filled-aSP" src="./assets/fluent-speaker-1-32-filled-zU3.png"/>
      </div>
    </div>
    <div class="frame-20-VZM">
      <p class="create-bio-EWw">Create bio</p>
      <p class="tell-us-a-little-details-about-yourself-mWs">Tell us a little details about yourself</p>
    </div>
    <div class="frame-44-trP">
      <div class="frame-3-Sd1">
        <p class="your-name-1RD">Your name</p>
        <div class="frame-35-js1">
          <div class="frame-2-V5V">
            <p class="mr-SWX">Mr</p>
            <img class="mingcute-down-fill-Bj1" src="./assets/mingcute-down-fill-oXH.png"/>
          </div>
          <div class="frame-4-KKR">Bayo</div>
          <div class="frame-3-R7Z">Tijani</div>
        </div>
      </div>
      <div class="frame-36-Kij">
        <p class="your-birthday-gpB">Your birthday</p>
        <div class="frame-32-EKu">
          <div class="frame-2-BF9">
            <p class="item-26-jXZ">26</p>
            <img class="mingcute-down-fill-UEF" src="./assets/mingcute-down-fill-Erf.png"/>
          </div>
          <div class="frame-4-o1d">
            <p class="item-04-x9R">04</p>
            <img class="mingcute-down-fill-UNf" src="./assets/mingcute-down-fill-U2X.png"/>
          </div>
          <div class="frame-5-oQw">
            <p class="item-1950-XLw">1950</p>
            <img class="mingcute-down-fill-TVV" src="./assets/mingcute-down-fill-Ji7.png"/>
          </div>
        </div>
      </div>
      <div class="frame-37-aa7">
        <p class="your-phone-number-97R">Your phone number</p>
        <div class="frame-32-gNF">
          <div class="frame-2-2h1">
            <div class="frame-39-nAP">
              <img class="emojione-v1-flag-for-nigeria-wJB" src="./assets/emojione-v1-flag-for-nigeria-7nT.png"/>
              <p class="item-234-fjy">+234</p>
            </div>
            <img class="mingcute-down-fill-Cju" src="./assets/mingcute-down-fill-vXm.png"/>
          </div>
          <div class="frame-5-87m">808 584 4862</div>
        </div>
      </div>
    </div>
    <div class="frame-45-1xF">
      <p class="next-kuq">Next</p>
      <img class="ic-round-arrow-forward-hKH" src="./assets/ic-round-arrow-forward-hmu.png"/>
    </div>
  </div>
</div>
</body>